@model InstagarmBot.Models.BaseModel
@{ 
    ViewBag.removedDiv = "like";

}


<div class="Row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">   لایک پست های فالوینگ های خودم  </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <form id="frmbot" method="post">

                        <div class="form-group col-sm-4 col-sm-offset-4">
                            <br />
                            <input id="start" type="submit" class="form-control btn btn-danger" value="شروع" />
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.box-body -->


        </div>


    </div>

</div>

