@{
    Layout = "_MainLayout";
}
<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">
            <div class="section-header">
                <h3 class="section-title">اسپایگرام چیست</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    اسپایگرام یک ابزار فعالیت خودکار و زمانبندی شده در شبکه اجتماعی اینستاگرام است
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 about-img wow fadeInLeft">
                    <img src="~/img/about-img.jpg" alt="">
                </div>

                <div class="col-lg-6 content wow fadeInRight">
                    <h2>اسپایگرام یک سیستم فروش فالوور نیست ، بلکه    یک سیستم هوشمند برای افزایش فالوور ، تبلیغات و مدیریت اکانت اینستاگرام شماست،</h2>
                    <h3>هدف شما میتواند ، هشتگ ، موقعیت جغرافیایی ، صفحات رقیب پیج های مشهور اینستاگرام باشد</h3>
                    <h3>
                        شما فقط بگویید چه چیزی میخواهید ، ربات را روشن کنید و شاهد سرازیر شدن  فالوور فعال و واقعی به صفحه تان باشید
                    </h3>
                    <h3>
                        علاوه بر این ربات پست های کسانی را هم که شما فالو کردید ، لایک می کند ، به این ترتیب امکان ریزش فالور هم به حداقل می رسد
                    </h3>
                    <h2>
                        چرا اسپایگرام
                    </h2>
                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i>  مهندسی حرفه ای سیستم زمانبندی ربات برای جلوگیری از مسدود شدن حساب  </li>
                        <li><i class="ion-android-checkmark-circle"></i>  گارانتی   و بازگشت وجه در صورت عدم رضایت</li>
                        <li><i class="ion-android-checkmark-circle"></i> پشتیبانی 24 ساعته  </li>
                        <li><i class="ion-android-checkmark-circle"></i>  ارایه گزارش  کارکرد ربات   </li>
                    </ul>


                </div>
            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Product Featuress Section
    ============================-->
    <section id="features">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-4">
                    <div class="section-header wow fadeIn" data-wow-duration="1s">
                        <h3 class="section-title">  اسپایگرام چه توانایی هایی دارد </h3>
                        <span class="section-divider"></span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 ">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 box wow fadeInRight">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            <h4 class="title"><a href="">  اهداف مشخص بر اساس شهر محل زندگی کاربران </a></h4>
                            <p class="description">اگر دارای کسب و کار محلی هستید و نیاز دارید تا  کسب و کار خود را در شهر و استان خود تبلیغ کنید ، اسپایگرام این توانایی را دارد</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                            <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                            <h4 class="title"><a href=""> اهداف مشخص بر اساس هشتگ های خاص  </a></h4>
                            <p class="description"> اگر میخواهید محصول خود را به گروهی خاص معرفی کنید ، اسپایگرام این توانایی را دارد تا دنبال کنندگان هشتگ مورد نظر را شناسایی کند  </p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                            <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                            <h4 class="title"><a href="">   آنفالو خودکار </a></h4>
                            <p class="description">در صورت نیاز ربات در بازه زمانی مشخصی آرام آرام فالوینگ های شما را آنفالو می کند</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                            <h4 class="title"><a href=""> کامنت های معنا دار و هدفمند </a></h4>
                            <p class="description">با ارسال کامنت های معنا دار و سفارشی شده توسط خودتان میتوانید کاربران بیشتری را جذب کنید</p>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-5 features-img">
                    <img src="~/img/product-features.png" alt="" class="wow fadeInLeft">
                </div>



            </div>

        </div>

    </section><!-- #features -->

    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title"> کسب درآمد </h3>
                    <p class="cta-text">  در صورت نیاز و برای استفاده از امکانات نامحدود و سفارشی سازی نرم افزار با برند تجاری خودتان و کسب درآمد میتوانید با ما تماس بگیرید </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">  تماس با ما  </a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->
    <!--==========================
      Pricing Section
    ============================-->
    <section id="pricing" class="section-bg">
        <div class="container">

            <div class="section-header">
                <h3 class="section-title">تعرفه ها</h3>
                <span class="section-divider"></span>
                <p class="section-description">پلن مناسب خود را از طریق فرم زیر شناسایی کنید</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="box wow fadeInLeft">
                        <h3> سالانه</h3>
                        <h4> <span>  پانصد هزارتومان  </span></h4>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i><span>لایک خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>کامنت  خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>فالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>آنفالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>تنظیم   روی موقعیت جغرافیایی</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>گارانتی بازگشت وجه</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>پشتیبانی  هفت روز هفته</span>  </li>

                        </ul>
                        <a href="#" class="get-started-btn">سفارش</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="box wow fadeInLeft">
                        <h3>شش ماهه</h3>
                        <h4> <span>  سیصد هزارتومان  </span></h4>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i><span>لایک خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>کامنت  خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>فالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>آنفالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>تنظیم   روی موقعیت جغرافیایی</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>گارانتی بازگشت وجه</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>پشتیبانی  هفت روز هفته</span>  </li>
                        </ul>
                        <a href="#" class="get-started-btn">سفارش</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="box featured wow fadeInUp">
                        <h3>ماهانه</h3>
                        <h4><span>  نود و پنج هزارتومان</span></h4>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i><span>لایک خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>کامنت  خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>فالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>آنفالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>تنظیم   روی موقعیت جغرافیایی</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>گارانتی بازگشت وجه</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>پشتیبانی  هفت روز هفته</span>  </li>
                        </ul>
                        <a href="#" class="get-started-btn">سفارش</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="box wow fadeInRight">
                        <h3>هفتگی</h3>
                        <h4> <span>سی هزارتومان</span></h4>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i><span>لایک خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>کامنت  خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>فالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span>آنفالوو   خودکار</span></li>
                            <li><i class="ion-android-checkmark-circle"></i><span></span>تنظیم   روی موقعیت جغرافیایی</li>
                            <li><i class="ion-android-checkmark-circle"></i><span>گارانتی بازگشت وجه</span></li>
                            <li><i class="ion-android-checkmark-circle"></i> <span>پشتیبانی  هفت روز هفته</span>  </li>
                        </ul>
                        <a href="#" class="get-started-btn">سفارش</a>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- #pricing -->
    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container">
            <div class="row wow fadeInUp">

                <div class="col-lg-6 col-md-4 pull-right">
                    <div class="contact-about">
                        <h3>SPI.GRAM</h3>
                        <p>برای برقراری ارتباط با کارشناسان  ما میتوانید از دکمه چت در گوشه پایین صفحه سمت راست ، استفاده کنید</p>
                        <p>برای دنبال کردن ما در اینستاگرام روی آیکن زیر کلیک کنید</p>
                        <div class="social-links">
                            <a href="http://instagarm.com/spi.gram" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>





            </div>

        </div>
    </section><!-- #contact -->

</main>